email=GD000003817@ups.com
always-auth=true
registry=https://jfrog.inside.ups.com/artifactory/api/npm/SGS_BDM_npm_virtual/
//jfrog.inside.ups.com/artifactory/api/npm/SGS_BDM_npm_virtual/:_auth=Z2QwMDAwMDM4MTdAdXBzLmNvbTpjbVZtZEd0dU9qQXhPakF3TURBd01EQXdNREE2VDNCaFJWbFhWRmRNVkZGYVIxcHRaVWx2VVRGRGR6VkRjalEz
